*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFE6D8;
}

.main-container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7A5A3A;
    font-size: 2rem;
}

.add-book{
    background: none;
    border: none;
    margin-right: 1rem;
}

.add-book > img{
    height: 2.5rem;
}

button:active{
    transform: scale(0.9);
}

button:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #7A5A3A;
    font-size: 1.5rem;
    padding: 12px;
}

.header > button{
    height: 2rem;
}

#book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    gap: 12px;
    padding: 24px;
}

.book-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    align-self: start;
    border: 1px solid black;
    background-color: #C9B29B;
}

form{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.book-dialog label {
  display: flex;
  align-items:start;
  flex-direction: column;
  gap: 0.4rem;
}

.check-read{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#read-status{
    height: 2rem;
}

input {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.dialog-btns{
    display: flex;
    gap: 24px;
    justify-content: end;
}

#close-btn{
    background: none;
    border: none;
}

#close-btn img, #confirm-btn img{
    height: 3rem;
}

#confirm-btn{
    background: none;
    border: none;
}

dialog {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;

  width: 320px;
  height: 100%;

  margin: 0;
  border: none;
  padding: 2.5rem;

  background: #C9B29B;
  box-shadow: -4px 0 12px rgba(0,0,0,0.25);

  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

dialog[open] {
  transform: translateX(0);
}

dialog::backdrop {
  background: rgba(0,0,0,0.4);
}
