*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFE6D8;
}

.main-container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7A5A3A;
    font-size: 2rem;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #7A5A3A;
    font-size: 1.5rem;
    padding: 12px;
}

.header > button{
    height: 2rem;
}

.book-container{
    display: grid;
    grid-template-rows: auto;
}

.book-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}